#footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid $border-accent-color;
  font-size: 0.95em;
  color: $footer-color;

  a:not(.footer__chatlink) {
    color: $footer-color;

    &:hover {
      color: darken($footer-color, 10%);
    }
  }
}

.footer__img {
  display: inline-block;
  max-width: 100px;
  max-height: 20px;
  vertical-align: middle;
  margin-left: 10px;

  @media (max-width: $screen-xs-max) {
    display: block;
    margin: 10px auto 0;
  }
}

.footer__chatlink {
  position: fixed;
  bottom: 0;
  z-index: 10;
  right: 30px;
  background-color: $minio-highlight;
  color: $white;
  padding: 13px 18px 10px;
  border-radius: 2px 2px 0 0;
  @include transition(all, 300ms);

  & > img {
    height: 25px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  & > span {
    padding-left: 3px;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: darken($minio-highlight, 5%);
  }

  @media(max-width: $screen-xs-max) {
    right: 0;

    & > span {
      display: none;
    }
  }
}