<footer id="footer">
	<% if @mybrand %>
        <%=  @mybrand.footer_text %>

        <% if !@mybrand.footer_img.blank? %>
            <img class="footer__img" src="<%= @mybrand.footer_img %>" alt="">
        <% end %>
			 
	<% else %>
        Doctor is licensed under Apache 2.0 License.
	<% end %>

    <% if !@mybrand.footer_chatlink.blank? %>
        <a href="<%= @mybrand.footer_chatlink %>" target="_blank" class="footer__chatlink">
            <img src="assets/icons/slack.svg" alt="">
            <span>Join us on Slack</span>
        </a>
    <% end %>
</footer>